.blog {
    text-align: center;
}

.blog__artigos {
    overflow: hidden;
    white-space: nowrap;
}

.artigos__item {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: none;
}

.artigos__item:not(:target):first-child {
    display: inline-block;
}

.artigos__item:target {
    display: inline-block;
}

.artigo {
    display: inline-block;
    text-align: left;
    padding-bottom: 2rem;
    max-width: 815px;
    white-space: normal;
}

.artigo__img {
    width: 100%;
    display: block;
}

.artigo__titulo {
    font-family: var(--fonte-titulo);
    font-weight: 700;
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.artigo__link {
    color: var(--cor-links);
    font-weight: 700;
}

.artigo__link:hover, .artigo__link:focus {
    transition: 0.5s;
    color: var(--azul-escuro);
}

.artigos__slider {
    width: 70%;
    margin: 0 auto;
}

.artigos__slider li {
    display: inline-block;
}

.artigos__slider-item {
    text-indent: -9999px;
    display: inline-block;
    overflow: hidden;
    background-color: var(--azul-claro);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-color: transparent;
}

.artigos__slider-item:hover, .artigos__slider-item:focus {
    transition: 0.5s;
    background-color: var(--cor-links);
    outline: 0;
}

.artigos__slider-item--ativo {
    background-color: var(--azul-escuro);
}