.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: .75rem;
    position: absolute;
}