.contato {
    text-align: center;
}

.contato__form-legend {
    max-width: 360px;
    margin: 0 auto 2rem;
    line-height: 1.8;
    font-size: 1.2rem;
    font-weight: 300;
}

.contato__campo {
    margin: 1rem auto;
    max-width: 600px;
    position: relative;
}

.contato__campo label, 
.contato__campo input, 
.contato__campo textarea,
.contato__erro {
    display: block;
    width: 100%;
    text-align: left;
}

.contato__campo label, 
.contato__erro {
    margin: 5px 15px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.contato__erro {
    color: var(--plano-mega);
}


.contato__campo__entrada, .input--desabilitado {
    font-size: 1rem;
    padding: 0.5rem;
    padding-right: calc(0.5rem + 40px);
    min-height: 45px;
    border-radius: 5px;
    border: 1px solid var(--cinza-medio);
    outline: 0;
}

.contato__campo__entrada:focus {
    border: 2px solid var(--cinza-escuro);
}

textarea {
    font-family: "Open Sans", sans-serif;
    resize: none;
}

.input--desabilitado {
    background-color: var(--cinza-claro);
}

.contato__campo__entrada--valido {
    border: 1px solid var(--verde);
    outline-color: var(--verde);
    background-image: url("../img/form-valido.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: calc(100% - 0.5rem) 50%;
}

.contato__campo__entrada--invalido {
    border: 1px solid var(--plano-mega);
    outline-color: var(--plano-mega);
    background-image: url("../img/form-invalido.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: calc(100% - 0.5rem) 50%;
}

.contato__checkbox {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.contato__label-receber-emails::before {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: var(--branco);
    transform: translate(-7px, -3px);
    border: 1px solid var(--cinza-medio);
    color: transparent;
    line-height: 1;
    transition: 0.2s ease-in;
}

.contato__checkbox:checked + .contato__label-receber-emails::before {
    content: "x";
    font-weight: 700;
    color: var(--branco);
    background-color: var(--azul-medio);
    border-color: var(--cinza-escuro);
}

.contato__btn {
    margin-top: 1rem;
    background-color: transparent;
    color: var(--vermelho-escuro);
    border: 1px solid var(--vermelho-escuro);
}

.contato__btn:hover, .contato__btn:focus {
    color: var(--branco);
    background-color: var(--vermelho-escuro);
}

@media screen 
and (min-width: 320px)
and (max-width: 950px) {
    .contato__form {
        width: 90%;
        box-sizing: border-box;
    }

    .contato__campo label, 
    .contato__campo input, 
    .contato__campo textarea {
        width: 90%;
    }

    .contato__campo label {
        margin-left: 25px;
    }

    .contato__campo input, 
    .contato__campo textarea {
        margin: 0 auto;
    }
}